@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188, 18%, 90%;
    --foreground: 187, 57%, 11%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --btn-successBg: 157 50% 93%;
    --btn-successBorder: 84 66% 72%;
    --btn-successBo-foreground: 169, 57%, 9%;

    --popover: 188, 69%, 55%;
    --popover-foreground: 187, 29%, 11%;

    --primary: 188, 69%, 55%;
    --primary-foreground: 187, 57%, 11%;

    --secondary: 169, 57%, 9%;
    --secondary-foreground: 180 100% 97%;

    --neutral-light: 220, 12%, 95%;
    --neutral-medium: 218, 13%, 88%;
    --neutral-dark: 219, 13%, 74%;
    --neutral-foreground: 218, 76%, 15%;

    --muted: 0, 0%, 88%;
    --muted-foreground: 0, 0%, 88%, 45%;

    --accent: 170, 67%, 93%;
    --accent-foreground: 169, 74%, 10%;

    --destructive: 5 75% 43%;
    --destructive-foreground: 4 100% 97%;
    --destructive-foregroundLight: 0 0% 100%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 205, 58%, 10%;

    --radius: 0.5rem;
    --footer: 169 12% 23%;
  }

  .dark {
    --background: 187, 57%, 9%;
    --foreground: 188, 69%, 87%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 187, 29%, 11%;
    --popover-foreground: 206, 100%, 84%;

    --btn-successBg: 157 50% 93%;
    --btn-successBorder: 84 66% 72%;
    --btn-successBo-foreground: 169, 57%, 9%;

    --primary: 188, 83%, 60%;
    --primary-foreground: 187, 57%, 11%;

    --neutral-light: 210, 11%, 7%;
    --neutral-medium: 210, 11%, 13%;
    --neutral-dark: 207, 12%, 18%;
    --neutral-foreground: 210, 22%, 89%;

    --secondary: 167 25% 69%;
    --secondary-foreground: 169, 57%, 9%;

    --btn-successBg: 150, 64% 53%;
    --btn-successBg-foreground: 151, 68%, 7%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 169, 74%, 10%;
    --accent-foreground: 170, 67%, 93%;

    --destructive: 355, 76%, 35%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --footer: 169 12% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
